page {
  width: 100%;
  height: 100%;
}

.index {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  // padding: 31px 0;

  background-color: #2B6FF7;

  .bg {
    width: 421px;
    height: 518px;
    object-fit: cover;
  }

  .modules {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 32px 74px;

    .module {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-bottom: 36px;
      padding: 43px 0 35px;
      width: 265px;

      background-color: #FDFFFF;
      border-radius: 36rpx;
      color: #5A5A5A;
      box-shadow: inset 15rpx 15rpx 5rpx #D8E5FB;
      transition: all .1s;

      &:active {
        box-shadow: inset -10rpx -10rpx 5rpx #D8E5FB; 
      }

      .module__icon {
        width: 74px;
        height: 80px;
        margin-bottom: 25px;
      }

      .module_title {
        font-size: 36px;
      }
    }
  }

  .contact {
    color: #EAEAEA;
    font-size: 30px;
  }


}